@import '/css-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  background-color: #eee;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #3273dc;
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
/* -------------------------------------------------------------- */

:root {
  --header-height: 80px;
  --main-padding: 1rem;
  --page-max-width: 920px;
}

body,
html {
  min-height: 100vh;
  padding: 0;
}

header {
  border-bottom: 1px solid darkgray;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100vw;
  & > div {
    max-width: var(--page-max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

main {
  min-height: 100vh;
  max-width: var(--page-max-width);
  margin-inline: auto;
  padding: calc(var(--header-height) + var(--main-padding)) var(--main-padding)
    var(--main-padding);
  background-color: #fff;
}

table {
  background: hsl(0, 0%, 100%);
  border-collapse: collapse;
  font-size: 0.8em;
  tr:nth-child(odd) {
    background-color: hsl(0, 0%, 97%);
    padding: 0.2em;
  }
  td {
    padding: 0.2em;
    &.ellipsis {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      width: 80px;
      @media screen and (width >= 600px) {
        width: unset;
      }
    }
  }
  @media screen and (width >= 600px) {
    font-size: unset;
  }
}

a[href^='tel'] {
  text-decoration: none;
  color: initial;
}
