---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config'
import sheeticon from '../assets/google-sheets-icon.svg'
---

<header>
  <div>
    <div class='logo'
      ><img src={sheeticon} alt='Google Sheet Icon' /><h2>
        {SITE_TITLE.split(' ')[0]}
      </h2></div
    >
    <nav>
      <HeaderLink href='/'>Home</HeaderLink>
      <HeaderLink href='/blog'>Blog</HeaderLink>
      <HeaderLink href='/about'>About</HeaderLink>
      <HeaderLink href='https://twitter.com/astrodotbuild' target='_blank'>
        Twitter
      </HeaderLink>
      <HeaderLink href='https://github.com/withastro/astro' target='_blank'>
        GitHub
      </HeaderLink>
    </nav>
  </div>
</header>
<style lang='scss'>
  header {
    margin: 0em 0 2em;
    background-color: #bada55;
    & > div {
      padding-inline: var(--main-padding);
      height: 100%;
      .logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          width: 30px;
        }
        h2 {
          text-transform: uppercase;
          color: #31a363;
          text-shadow: 2px 2px 2px hsl(0 0 0 / 0.3);
        }
      }
    }
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
